/* root */
:root {
  --color-light-purple: #eae8fe;
  --color-purple: #6327fe;
  --color-white: #ffffff;
  --color-dark-gray: #333333;
  --color-light-gray: #bdbdbd;
  --color-box-shadow: rgb(0 0 0 / 0.5);

  --font-weight-bold: 700;
  --font-weight-medium: 500;
}

/* Reset */
body,
h1,
ul,
p,
figure,
input,
strong {
  border: 0px;
  margin: 0px;
  padding: 0px;
}

button {
  border: none;
  cursor: pointer;
}

* {
  font-family: "Noto Sans KR", sans-serif;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

/* Utility*/
.ir_wa {
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -9999px;
}

.float-clear::after {
  content: "";
  display: block;
  clear: both;
}

/*  Style */
body {
  background-color: var(--color-light-purple);
}

header .header-title {
  max-width: 386px;
  height: 180px;
  margin: 0 auto;
}

header .header-title img {
  width: 100%;
  height: 100%;
}

.main-vending-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 28px;
}

.vending-left-section {
  display: flex;
  flex-direction: column;
  padding: 31px 27px 28px 27px;
  width: 360px;
  height: 545px;
  background-color: var(--color-white);
}

.vending-right-section {
  width: 360px;
  height: 545px;
}

/* 좌측 섹션 */
.drink-list {
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-bottom: 20px;
}

.drink-list li {
  cursor: pointer;
  width: 93px;
  height: 130px;
  border-radius: 10px;
  box-shadow: 0px 0px 4px rgb(0 0 0 / 0.5);
}

.drink-list li:hover {
  outline: 3px solid var(--color-purple);
}

.drink-item figure {
  width: 100%;
  height: 100%;
  font-weight: var(--font-weight-medium);
  font-size: 9px;
  padding: 10px;
  text-align: center;
  color: var(--color-dark-gray);
}

/* 목록 리스트에서의 콜라 이미지 */
.drink-list .drink-img {
  width: 36px;
  height: 65px;
}

.drink-item-price {
  display: block;
  width: 70px;
  height: 22px;
  line-height: 22px;
  font-weight: var(--font-weight-medium);
  font-size: 12px;
  margin-top: 7px;
  background-color: var(--color-purple);
  color: var(--color-white);
  margin-left: 3px;
  border-radius: 50px;
}

/* 음료수 가 다 팔렸을 경우 클래스 추가 */
/* .drink-soldout {
} */

/* 음료수 계산대 */
.drink-counter {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.drink-balance {
  display: flex;
  gap: 12px;
}

.drink-balance-txt {
  border-radius: 5px;
  font-size: 14px;
  font-weight: var(--font-weight-medium);
  flex-grow: 1;
  padding-top: 6px;
  padding-left: 10px;
  background-color: var(--color-light-purple);
}

.cnt-balance {
  display: inline-block;
  width: 70%;
  text-align: right;
}

/* 원은 가상요소로 사용자 드래그 시 선택이 불가능하게 설정 */
/* display 기본값 inline */
.drink-balance-txt::after {
  /* inline-block설정 후 폰트 사이즈에 의한 공백을 없애기 위해 negative마진을 활용 */
  margin-left: -3px;
  content: "원";
}

.btn-balance {
  flex-shrink: 0;
  font-weight: var(--font-weight-medium);
  font-size: 13px;
  background-color: var(--color-white);
  border-radius: 5px;
  box-shadow: 0px 0px 4px rgb(0 0 0 / 0.5);
  flex-basis: 94px;
  height: 33px;
}

.deposit-form {
  display: flex;
  gap: 12px;
}

.deposit-form input {
  border: 1px solid var(--color-light-gray);
  border-radius: 5px;
  font-weight: var(--font-weight-medium);
  font-size: 13px;
  flex-grow: 1;
  background-color: var(--color-white);
  padding-left: 6px;
}

.btn-deposit {
  flex-shrink: 0;
  font-weight: var(--font-weight-medium);
  font-size: 13px;
  border-radius: 5px;
  background-color: var(--color-white);
  box-shadow: 0px 0px 4px rgb(0 0 0 / 0.5);
  width: 94px;
  height: 32px;
}

/* 선택한 음료수 */
.drink-select {
  display: flex;
  gap: 12px;
}

.select-list {
  overflow-y: scroll;
  border-radius: 5px;
  flex-grow: 1;
  padding: 12px 18px 0px 12px;
  border: 1px solid var(--color-light-gray);
  /* 높이 고정시켜야지 스크롤이 생길 수 있다. */
  height: 106px;
  background-color: var(--color-light-purple);
}

.select-list li {
  width: 100%;
  padding: 6px;
  padding-top: 8px;
  margin-bottom: 6px;
  background-color: var(--color-white);
  border-radius: 5px;
  cursor: pointer;
}

.select-list li:last-child {
  margin-bottom: 0px;
}

.select-list figcaption {
  display: inline-block;
  font-size: 9px;
  font-weight: var(--font-weight-medium);
  width: 80%;
}

/* 완벽하게 선택하기 전 음료수 선택 값 */
.select-list .cnt-num {
  float: right;
  padding: 5px 10px;
  border: 1px solid var(--color-light-gray);
  border-radius: 5px;
  font-weight: var(--font-weight-medium);
  font-size: 14px;
  margin-top: -8px;
}

.select-list .drink-img {
  vertical-align: top;
  width: 18px;
  height: 33px;
}

.btn-select {
  font-weight: var(--font-weight-large);
  font-size: 13px;
  border-radius: 4px;
  background-color: var(--color-purple);
  padding: 10px 6px 9px 7px;
  flex-basis: 94px;
  height: 106px;
  color: var(--color-white);
}

/* 우측 섹션 */
.own-money {
  background-color: var(--color-white);
  padding: 9px 27px;
  margin-bottom: 20px;
}

.own-money-txt {
  display: flex;
  border-radius: 5px;
  font-weight: var(--font-weight-medium);
  font-size: 14px;
  padding: 6px 10px;
  background-color: var(--color-light-purple);
}

.own-money-txt::after {
  content: "원";
}

.own-money-cnt {
  flex-grow: 1;
  text-align: right;
  font-weight: var(--font-weight-bold);
}

.drink-own {
  background-color: var(--color-white);
  padding: 25px 27px 26px 27px;
  height: 474px;
}

.drink-own-title {
  display: block;
  text-align: center;
  font-size: 14px;
  font-weight: var(--font-weight-large);
  margin-bottom: 13px;
}

.drink-own-list {
  padding: 12px 18px 12px 12px;
  background-color: var(--color-light-purple);
  height: 364px;
  margin-bottom: 6px;
  overflow-y: scroll;
}

.drink-own-list figcaption {
  display: inline-block;
  width: 91%;
  font-size: 9px;
  margin-left: 10px;
  font-weight: var(--font-weight-medium);
}

.drink-own-list li {
  background-color: var(--color-white);
  margin-bottom: 6px;
  padding: 8px;
  border-radius: 5px;
}

.drink-own-list li:last-child {
  margin-bottom: 0px;
}

.drink-own-list .drink-img {
  width: 18px;
  height: 33px;
  vertical-align: middle;
}

.drink-own-list .cnt-num {
  float: right;
  padding: 5px 10px;
  border: 1px solid var(--color-light-gray);
  border-radius: 5px;
  font-weight: var(--font-weight-medium);
  font-size: 14px;
}

.total-money {
  display: block;
  text-align: right;
  font-weight: var(--font-weight-medium);
  font-size: 12px;
}

/* Media-Query */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  body {
    background-color: #fff;
  }

  header .header-title {
    width: 166px;
    height: 70px;
  }
}
